@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.App {
    display: flex;
    margin: 40px auto;
    width: 80%;
    background-color: #eee;
}
.App .left {
    width: 30%;
    text-align: center;
    padding: 20px 0;
}
.App .left img {
    width: 40%;
    border-radius: 100%;
}
.App .left h2 {
    margin: 10px 0 20px 0;
    color: rgb(105, 158, 86);
    animation: blink 1s infinite;
}
.App .left .contact {
    display: flex;

    margin: 10px 0;
    justify-content: center;
}
.App .left .contact h5 {
    font-weight: 600;
}
.App .left .contact h3 {
    font-size: 15px;
    font-weight: 400;
}
.App .left .contact i {
    margin-right: 8px;
}
.App .left h4 {
    text-decoration: underline;
    font-style: italic;
    color: rgb(105, 158, 86);
    margin-top: 25px;
    cursor: pointer;
}
.App .left ul li {
    margin: 10px 0;
}
.App .left .social {
    display: flex;
    justify-content: center;
}
.App .left .social li {
    margin: 20px 20px 20px 0;
}
.App .right {
    width: 70%;
    position: relative;
}
.App .right::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000000bf;
    position: absolute;
}
.App .right img {
    width: 806px;
    height: 595px;
}
.App .right .name {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
}
.App .right .name h1 {
    color: #fff;
}
.App .right .name h1 span {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}
.App .right .name button {
    padding: 10px 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 20px;
    cursor: pointer;
}
.App .right .name button i {
    margin-left: 10px;
}
.App .right .dot {
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.App .right .dot span {
    display: block;
    border-radius: 50%;
    margin-bottom: 8px;
    width: 10px;
    height: 10px;
    background-color: #cacaca;
    cursor: pointer;
}
.App .right .dot span:first-child {
    background-color: rgb(105, 158, 86);
}
